<h1 class="text-centered">Name Generator</h1>
<p class="about-text">
	 Challenge Summary. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eaque, animi mollitia pariatur voluptatem praesentium at impedit rem, voluptates illo reprehenderit amet eum ea! Cupiditate, voluptatem! Voluptas neque, illum beatae!
</p>

<div class="btn btn-primary btn-lg align-left">Random Male Name</div>
<div class="btn btn-success btn-lg align-right">Random Female Name</div>

<script src="challenges/js/challenges/00.js"></script>
