<h1 class="text-centered">Name Generator</h1>
<p class="about-text">
	 Challenge Summary. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eaque, animi mollitia pariatur voluptatem praesentium at impedit rem, voluptates illo reprehenderit amet eum ea! Cupiditate, voluptatem! Voluptas neque, illum beatae!
</p>

<div class="text-centered">
	<div class="left-btn">
			<div id="name-male" class="btn btn-primary btn-lg">Random Male Name</div>
			<h3 class="name-male">Bob</h3>
	</div>
	<div class="right-btn">
			<div id="name-female" class="btn btn-success btn-lg">Random Female Name</div>
			<h3 class="name-female">Jane</h3>
	</div>
</div>
<script src="challenges/js/challenges/00.js"></script>
