<h1 class="text-centered">Higher/Lower</h1>
<p class="about-text">
	Challenge Summary. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eaque, animi mollitia pariatur voluptatem praesentium at impedit rem, voluptates illo reprehenderit amet eum ea! Cupiditate, voluptatem! Voluptas neque, illum beatae!
</p>

<div class="text-centered">
	<div class="halfsize">
		<div class="input-group input-group-lg">
		  <input type="text" id="input" class="form-control" placeholder="0" style="text-align: center !important">
		</div>
	</div>
	<div id="guessNumber" class="btn btn-primary btn-lg">Guess Number</div>
	<h3 class="guessNumber"></h3>
</div>
<script src="challenges/js/challenges/01.js"></script>
