<h1 class="text-centered">Temperature Converter</h1>
<p class="about-text">
	 Challenge Summary. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eaque, animi mollitia pariatur voluptatem praesentium at impedit rem, voluptates illo reprehenderit amet eum ea! Cupiditate, voluptatem! Voluptas neque, illum beatae!
</p>

<div class="halfsize">
	<div class="input-group input-group-lg">
	  <span class="input-group-addon" id="sizing-addon1">Celsius</span>
	  <input type="text" id="celsius" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
	</div>
</div>
<div class="halfsize">
	<div class="input-group input-group-lg">
	  <span class="input-group-addon" id="sizing-addon1">Fahrenheit</span>
	  <input type="text" id="fahrenheit" class="form-control" placeholder="32" aria-describedby="sizing-addon1">
	</div>
</div>
<script src="challenges/js/challenges/02.js"></script>
