<h1 class="text-centered">FizzBuzz</h1>
<p class="about-text">
	Challenge Summary. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eaque, animi mollitia pariatur voluptatem praesentium at impedit rem, voluptates illo reprehenderit amet eum ea! Cupiditate, voluptatem! Voluptas neque, illum beatae!
</p>

<div class="text-centered">
	<div id="fizzbuzz" class="btn btn-primary btn-lg">Generate FizzBuzz</div>
	<h3 class="fizzbuzz"></h3>
</div>
<script src="challenges/js/challenges/05.js"></script>
