<h1 class="text-centered">Rock Paper Scissors</h1>
<p class="about-text">
	Challenge Summary. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eaque, animi mollitia pariatur voluptatem praesentium at impedit rem, voluptates illo reprehenderit amet eum ea! Cupiditate, voluptatem! Voluptas neque, illum beatae!
</p>
<div class="container">
  <div class="row">
	  <div class="col-md-4"><i class="fa fa-hand-rock-o fa-5x"></i> Rock</div>
	  <div class="col-md-4"><i class="fa fa-hand-paper-o fa-5x"></i> Paper</div>
	  <div class="col-md-4"><i class="fa fa-hand-scissors-o fa-5x"></i> Scissors</div>
  </div>
</div>
<script src="challenges/js/challenges/06.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
