<div class="container">
	<div class="row">
	  <div class="col-md-12">
	  	<h1>Hangman</h1>
	  	<p>
	Challenge Summary. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eaque, animi mollitia pariatur voluptatem praesentium at impedit rem, voluptates illo reprehenderit amet eum ea! Cupiditate, voluptatem! Voluptas neque, illum beatae!
</p>
	  </div>
	</div>
	<div class="row">
  	<div class="col-md-6">
  		<canvas id="stage" width="200" height="200">Sorry, your browser needs to support canvas for this game.</canvas>
  	</div>
  	<div class="col-md-6">LETTERS</div>
	</div>
	<div class="row">
	  <div class="col-md-12">
	  	<h3 id="result">Hangman</h3>
	  </div>
	</div>
</div>
<script src="challenges/js/challenges/07.js"></script>
