<div class="container">
	<div class="row">
	  <div class="col-md-12">
	  	<h1 class="text-centered">Fibonnaci Sequence</h1>
	  	<p class="about-text">
	Challenge Summary. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eaque, animi mollitia pariatur voluptatem praesentium at impedit rem, voluptates illo reprehenderit amet eum ea! Cupiditate, voluptatem! Voluptas neque, illum beatae!
			</p>
	  	<div class="text-centered">
		  	<input type="text" id="input" placeholder="10"><br />
	  		<div id="genFib" class="btn btn-primary btn-lg">Generate Fibonnaci Sequence</div>
	  	</div>
	  </div>
  	<div class="col-md-6">
	  	<h3 id="resultRec" class="text-centered"></h3>
		</div>
  	<div class="col-md-6">
	  	<h3 id="resultIt" class="text-centered"></h3>
  	</div>
	</div>
</div>
<script src="challenges/js/challenges/27.js"></script>
